<div id="random_post">
  <h3>Random Post</h3>
  <div class="post">
    <div class="post_image">
      <%= link_to (image_tag @random_post.image.url(:medium)), view_post_path(:post_id => @random_post.id) %>
    </div>
    <div class="post_content">
      <div class="title">
        <h2>
          <%= link_to @random_post.title, view_post_path(:post_id => @random_post.id) %>
        </h2>
      </div>
      <div class="data clearfix">
        <p class="username">
          Shared by ID #
          <%=@random_post.user_id%>  -- about <%=time_ago_in_words(@random_post.created_at)%> ago
        </p>
        <p class="buttons">
          <span>
            <i class="fa fa-comments-o"></i>
            <%= @random_post.comments.count %>
          </span>
          <span>
            <i class="fa fa-thumbs-o-up"></i>
            <%= @random_post.get_likes.size %>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
