<br/>
<h1>Show Page</h1>
<hr>
<ul>
  <% @posts.each do |p| %>
  <a href = "/view_post?post_id=<%=p.id%>">
    <h4>title : <i><b><%=p.title%></i></b></h4> shared by ID #<%=p.user_id%> -- about <%=time_ago_in_words(p.updated_at)%> ago</p>
  </a><br>
  <% end %>
</ul>
<button style=" margin: 10px"><%=link_to "NEW POST", 'new'%></button>
