<h1>Timeline</h1><hr>
<div id="posts">
  <% @post.each do |p| %>
    <div class="post">
      <a href = "/view_post?id=<%=p.id%>">
        <div class="post_image">
          <%= image_tag p.image.url(:small), :style => "heightauto" %>
        </div>
        <div class="post_content">
          <div class="title">
            <h2><i><b><%=p.title%></i></b></h2>
          </div>
      </a>
        <div class="data clearfix">
          <p class="username">
            Shared by ID #<%=p.user_id%> -- about <%=time_ago_in_words(p.updated_at)%> ago
          </p>
          <p class="buttons">
            <span>
              <i class="fa fa-comments"></i>
              <%= p.comments.count %>
            </span>
            <span>
              <i class="fa fa-thumbs-up"></i>
              <%= p.get_upvotes.size %>
            </span>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<button name="new_post"><%=link_to "NEW POST", 'new'%></button>
