<div id="post_show">
  <h1><%=@post.title%></h1>
  <p class="username"> Shared by ID #<%=@post.user_id%> -- about <%=time_ago_in_words(@post.created_at)%> ago<br></p>
  <div class="clearfix">
    <div class="post_image_description">
      <%= form_tag '/view_post', method: "post" do %>
        <!-- to let update action know which post to be updated, -->
        <%= image_tag @post.image.url(:medium) %>
        <input type="hidden" name="post_id" value="<%=@post.id%>">
        <!-- <%=@post.content%> displays original post content -->
        <pre name="post_title"><%=@post.title%></pre>
        <pre name="post_content"><%=@post.content%></pre>
      <% end %>
    </div>

    <div class="post_data">
      <%= link_to like_timeline_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-up"></i>
        <%= pluralize(@post.get_upvotes.size, "Like") %>
      <% end %>
      <%= link_to dislike_timeline_path(@post), method: :get, class: "data" do %>
        <i class="fa fa-thumbs-o-down"></i>
        <%= pluralize(@post.get_downvotes.size, "Dislike") %>
      <% end %>
      <p class="data">
        <i class="fa fa-comments-o"></i>
        <%= pluralize(@post.comments.count, "Comment") %>
      </p><br>
      <!-- get method for destroy, set post_id as a param to pass in destroy action-->
      <% if @post.user == current_user %>
        <%= link_to "Edit", edit_post_path(@post), class: "data" %>
        <%= link_to "Delete", destroy_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "data" %>

        <a href = "/edit_post?post_id=<%=@post.id%>"><button style="border-radius: 50%">Edit</button></a>
        <a href = "/destroy?post_id=<%=@post.id%>"><button style="border-radius: 50%" >Delete</button></a>
      <% end %><br><br>
      <ol>
        <% @comments.each do |c| %>
          <li><p>User ID #<%=c.user_id%> : <b><%= c.msg %></b></p>
            <a href = "/edit_comment?comment_id=<%=c.id%>" style="color: green">Edit</a>
            <a href = "/destroy_comment?comment_id=<%=c.id%>" style="color: red">Delete</a>
          </li><br>
        <% end %>
      </ol><br>
    </div>
  </div>
  <%= render 'form' %>
</div>
