<!DOCTYPE html>
<html large="en">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<head>
	<title><%= yield(:title) %>Welcome to Jun's App!</title>
<%= stylesheet_link_tag    'application', media: 'all',
  'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <title>Personal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<%= render partial: 'layouts/header' %><br>
</head>
<body>
  <div class="wrapper">
		<%= yield %>
	</div>
</body>
<foot>
	<br><br><br><br>
	<%= render 'layouts/footer' %>
</foot>
</html>
